/** @format */
:root {
  --branding-color: #d789d7;
  --secondary-color: #9d65c9;
  --branding-background: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Delius Unicase", cursive;
}
/**Homepage**/
.navbar {
  font-family: "Delius Unicase", cursive;
  font-size: 13px;
  margin: 35px 0 auto;
}

.hero {
  text-align: center;
  background: var(--branding-background);
  color: white;
  padding: 50px;
}

.hero h1 {
  font-size: 55px;
  font-family: var(--secondary-font-family);
  padding-top: 50px;
}
.hero h2 {
  font-size: 17px;
  padding: 13px;
  font-family: var(--primary-font-family);
  font-style: italic;
}

.hero .btn {
  font-size: 16px;
  padding: 5px 23px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border: 2px solid #9d65c9;
  border-radius: 13px;
}
/**check button**/
.hero .btn:hover {
  padding: 5px 20px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border: 2px solid rgb(60, 16, 83);
  border-radius: 13px;
  font-weight: bold;
}

/**About page**/

.col-sm-7 h1 {
  font-family: var(--secondary-font-family);
  margin-bottom: 20px;
  margin-top: 10px;
}
.about-description {
  font-family: var(--primary-font-family);
  line-height: 1.8;
  margin-left: 15px;
  margin-right: 10px;
  text-align: justify;
}
.profile-pic {
  border-radius: 15px;
  border: 1px solid rgb(60, 16, 83);
  margin-top: 0 auto;
}
.certificatesContainer .certificatesImage {
  display: block;
  margin: 0 auto;
}
.certificatesContainer .certificatesImage:hover {
  transition: all 200ms ease-in-out;
  border: 1px solid rgb(60, 16, 83);
  width: 550px;
}
.accordion-header .accordion-button {
  font-size: 15px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  padding: 15px;
  background-color: var(--branding-background);
}
.accordion-button:hover {
  color: var(--secondary-color);
}
.accordion-body ul {
  list-style-type: none;
  display: inline;
}

.list-skills li {
  list-style-type: none;
}
.fa-fingerprint {
  font-size: 15px;
  opacity: 0.7;
  margin-right: 15px;
  color: var(--secondary-color);
}
.uniqueItem-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.uniqueItem-link:hover {
  text-decoration: overline;
  color: var(--secondary-color);
}
.list-skills .fab,
.list-skills .fas {
  color: var(--secondary-color);
}
.toProjects-button .btn {
  font-size: 16px;
  padding: 5px 20px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border: 2px solid #9d65c9;
  border-radius: 13px;
}

.toProjects-button .btn:hover {
  padding: 5px 20px;
  margin: 30px auto 25px;
  font-family: var(--primary-font-family);
  border: 2px solid rgb(60, 16, 83);
  border-radius: 13px;
  font-weight: bold;
}

/**Work page**/

.divider {
  text-align: center;
  margin: 20px 20px;
}
.fa-angle-double-up,
.fa-angle-double-right {
  font-size: 22px;
  opacity: 0.4;
  color: black;
}
.col-sm-7 a {
  text-decoration: none;
}
.github-repository .fa-github {
  font-size: 24px;
  margin: 10px 10px;
  color: black;
  text-align: center;
  display: block;
}
.github-repository .fa-github:hover {
  transition: all 200ms ease-in-out;
  color: #8307f8;
  text-decoration: overline;
}
.projectsPage,
.aboutPage,
.contactPage,
.cvPage {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: bold;
  margin: 25px 15px;
}
.projectsContainer {
  font-family: var(--primary-font-family);
}

.projectsContainer .project-image {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}
.projectsContainer .project-image:hover {
  transition: all 200ms ease-in-out;
  filter: brightness(100%) contrast(115%) saturate(140%);
}
.projectsContainer .projectButton {
  display: block;
  margin: 0 auto 10px;
  width: 150px;
  font-size: 16px;
  font-family: var(--primary-font-family);
  border: 2px solid #9d65c9;
  border-radius: 13px;
}
.projectsContainer .projectButton:hover {
  font-family: var(--primary-font-family);
  border: 2px solid rgb(60, 16, 83);
  border-radius: 13px;
  font-weight: bold;
}
.projectsContainer .col-sm-7 {
  padding: 15px;
}
.projectsContainer .project-name {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.projectsContainer .project-description {
  font-family: var(--primary-font-family);
  line-height: 1.8;
  margin: 10px 15px 10px;
  text-align: justify;
}

.skills {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
  line-height: 2.5;
}
.skills-tools .fab,
.skills-tools .fas,
.skills-tools .far {
  font-size: 30px;
  opacity: 0.7;
  color: var(--secondary-color);
}

/**CONTACT PAGE**/

.contactContainer {
  font-size: 20px;
  font-family: var(--primary-font-family);
  text-align: center;
  margin-bottom: 150px;
}
.contactDetails .fab,
.contactDetails .fas,
.contactDetails .far {
  text-align: center;
  font-size: 25px;
  color: var(--secondary-color);
  opacity: 1;
}
.contactInfo-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: var(--primary-font-family);
}
.contactInfo{
  font-size: 15px;
  font-weight: bold;
}

.downloadcv-button .btn {
  font-size: 25px;
  padding: 10px 80px;
  margin: 2px auto 30px;
  font-family: var(--primary-font-family);
  border-radius: 13px;
}

.downloadcv-button  .btn:hover {
  font-size: 25px;
  padding: 10px 80px;
  margin: 2px auto 30px;
  border: 2px solid rgb(144, 58, 190);
  border-radius: 13px;
  font-weight: bold;
}
/**footer**/
footer {
  margin: 50px 20px;
}
.footer {
  margin: 10px;
}
.footer-email {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: bold;
}

.footer-info {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
}

.fa-github-square,
.fa-id-card,
.fa-linkedin {
  font-size: 22px;
  color: black;
  opacity: 0.6;
}

.fa-github-square:hover,
.fa-id-card:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: rgb(115, 23, 165);
  transition: 200ms ease-in-out;
  opacity: 1;
  text-decoration: overline;
}
.git-link {
  text-decoration: none;
  color: rgb(115, 23, 165);
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.git-link:hover {
  transition: 200ms ease-in-out;
  color: var(--secondary-color);
}

.fab:hover,
.fas:hover,
.far:hover {
  font-size: 34px;
  transition: all 200ms ease-in-out;
  color: rgb(49, 4, 73);
}
